.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.link {
  color: #007449;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  background-color: #05A63A !important;
  color: white !important;
}

.nav-brand {
  color: white !important;
  font-weight: bold !important;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link:hover {
  background-color: #A1F7A1 !important;
  color: #2A2338 !important;
}

.landing-page {
  padding: 5%;
  color: #2A2338;
}

.program {
  padding: 5%;
  color: #2A2338;
}

.submissions {
  padding: 5%;
  color: #2A2338;
}

.proceedings {
  padding: 5%;
  color: #2A2338;
}

.attending {
  padding: 5%;
  color: #2A2338;
}

.heading {
  color: #05A63A;
  font-weight: bold;
}

.bold-text{
  font-weight: bold;
}

.date-time-location {
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
